.ats-row {
    background-color: white;
    margin: 0 auto;
    color: slategrey;
}

.ats-table-area {
    padding-top: 109px;
    margin: 0 auto;
}

.ats-row-icon {
    padding-right: 10px;
    color: slategrey;
}








