.nav-pills.nav-item {
    background-color: whitesmoke;
}

.nav-pills .nav-item:not(.active) {
    background-color: lightgrey;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ats-edit-title {
    color: dimgrey;
    align-self: center;
}


.nav-pills .nav-item {
    background-color: darkslateblue;
    color: whitesmoke;
}


.ats-list-area {
    padding: 0px;
    background-color: lightgrey;
}

.list-group-item {
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: slategrey;
    font-size: large;
}

.ats-back-button {
    color:whitesmoke;
}



.ats-lesson-tabs {
    color: darkslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid lightgrey;
}

.ats-topic-pills {
    color: darkslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ats-editable-item {
    margin: auto;
    text-align: left;
    margin: 1px;
    font-weight: bold;

}

.ats-edit-icon {
    padding-left: 10px;
    padding-top: 3px;
    float: right;
    margin: 0 auto;
}

.ats-editing-icon {
    padding: 10px;
    float: right;
}

.ats-plus-icon {
    padding-top: 5px;
}

.ats-module-plus-icon {
    align-content: center;
}

.ats-list-group-item {
    padding: 15px 106px;
    margin: 10px auto;
}



.nav-item.active {
    background-color: darkslateblue !important;
}

.ats-link {
    color: dimgrey;
}

.ats-link-active {
    color: whitesmoke;
}

.list-group-item.active {
    background-color: darkslateblue !important;
    color: whitesmoke !important;
    margin: 5px 10px 5px 10px !important;

}

.list-group-item {
    margin: 5px 10px 5px 10px;
}

.list-group-item:first-child {
    margin-top: 10px;
}

.ats-course-title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.ats-item-title {
    margin: 1px;
}

.ats-unordered-pills {
    margin: 20px;
    color: darkslateblue;
    border-bottom: solid lightgrey;
}

.ats-nav-item:first-child {
    margin-left: 0px;
}

.ats-nav-item {
    margin: 10px;
    border-radius: 5px;
}

.ats-lessons-topics-title {
    color: darkslateblue;
    margin: 20px;
}

.ats-edit-row {
    padding-left: 5px;
    padding-right: 5px;
}