



.nav-pills.nav-item {
    background-color: whitesmoke;
}

.nav-pills .nav-item:not(.active) {
    background-color: lightgrey;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ats-edit-title {
    color: dimgrey;
    align-self: center;
}


.nav-pills .nav-item {
    background-color: darkslateblue;
    color: whitesmoke;
}


.ats-list-area {
    padding: 0px;
    background-color: lightgrey;
}

.list-group-item {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: slategrey;
}

.ats-back-button {
    color:whitesmoke;
}

.ats-modules-list {
    color: darkslateblue;
    text-align: center;
    padding-top: 20px;
}

.ats-lesson-tabs {
    color: darkslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid lightgrey;
}

.ats-topic-pills {
    color: darkslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ats-editable-item {
    margin: auto;
    text-align: left;
    margin: 1px;
    vertical-align: center;
    font-weight: bold;
}

.ats-edit-icon {
    padding-left: 10px;
    float: right;
}

.ats-editing-icon {
    padding: 10px;
    float: right;
    background-color: darkslateblue;
}

.nav-item .nav-link.active {
    background-color: darkslateblue !important;
    color: whitesmoke !important;
}

.list-group-item.active {
    background-color: darkslateblue !important;
    color: whitesmoke !important;
}

.ats-course-title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.ats-nav-item {
}

.ats-item-title {
    margin: 1px;
}

.ats-unordered-pills {
    margin-top: 30px;
}