.ats-widget-type-picker {
    width: 700px;
    margin-bottom: 10px;
}

.ats-paragraph-widget {
    width: 700px;
}

.ats-heading-widget {
    width: 700px;
}

.ats-heading-size-picker {
    margin-bottom: 10px;
}

