.ats-widget-type-picker {
    width: 700px;
    margin-bottom: 10px;
}

.ats-paragraph-widget {
    width: 700px;
}

.ats-heading-widget {
    width: 700px;
}

.ats-heading-size-picker {
    margin-bottom: 10px;
}

.ats-widget-btn {
    margin: 5px;
}

.ats-title-row {
    width: 825px;
    color: darkslateblue;
}

.ats-check-box {
    margin-right: 5px;
}



