.ats-active {
    background-color: lightgreen;
}

.ats-wrong-active {
    background-color: palevioletred;
}

.ats-graded-icon {
    margin-top: 4px;
}

.ats-check {
    color: darkgreen;
}

.ats-times {
    color: darkred;
}

.ats-question-choice {
    width: 500px;
}

.ats-question-label {
    margin: 0 auto;
}

.ats-question-input {
    margin-top: 7px;
}

.ats-question-block {
    text-align: center;
}

.ats-grade-btn {
    background-color: green;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    font-size: medium;
    padding: 5px 10px;
}